ipykernel
ipython
jupyter
numpy
opt_einsum
scipy
scikit-learn
pytorch
torchvision
tqdm
pandas
matplotlib
seaborn
plotly
#ipykernel ipython jupyter numpy opt-einsum scipyscikit-learn torch torchvision tqdm pandas matplotlib seaborn plotly