torch_ecosystem/local_conda_env_torch
jax_ecosystem/local_conda_env_jax
torch_ecosystem/local_conda_env
jax_ecosystem/local_conda_env

torch_ecosystem/venv
jax_ecosystem/venv
**/*venv*

**/*__pycache__*
**/wandb
jaxlib*